<h1 mat-dialog-title>Save graph settings</h1>
<div mat-dialog-content>
  <mat-label>Enter a name for your settings</mat-label>
  <mat-form-field>
    <input matInput [(ngModel)]="name">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancel()" [attr.aria-label]="'This is a button to cancel'">Cancel</button>
  <button mat-button [mat-dialog-close]="name" [attr.aria-label]="'This is a button to save settings'">Save</button>
</div>