<section class="container">
  <mat-card class="calculator">
    <mat-card-header class="cardHeader">
      <mat-card-title>Calculate compound interest</mat-card-title>
    </mat-card-header>

    <mat-card-content class="cardContent" cdkFocusRegionStart>
      <form [formGroup]="calculatorForm" class="calculator-form" (ngSubmit)="onSubmit()">
        <mat-button-toggle-group #group="matButtonToggleGroup" formControlName="currency">
          <mat-button-toggle value="GBP" aria-label="Great Brittain Pound">
            <mat-label>£</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="USD" aria-label="United States Dollar">
            <mat-label>$</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="EUR" aria-label="Australian Dollar">
            <mat-label>€</mat-label>
          </mat-button-toggle>
          <mat-button-toggle value="JPY" aria-label="Japanese Yen">
            <mat-label>¥</mat-label>
          </mat-button-toggle>
        </mat-button-toggle-group>

        <mat-label class="radioLabel">Compound at beginning or end of the period?</mat-label>
        <mat-radio-group formControlName="beginning" aria-label="Select an option" class="radioButtons">
          <mat-radio-button value="beginning" class="radioOptions">Beginning</mat-radio-button>
          <mat-radio-button value="end" class="radioOptions">End</mat-radio-button>
        </mat-radio-group>

        <mat-form-field class="custom-full-width">
          <span matPrefix>{{symbol}} &nbsp;</span>
          <mat-label>Present value</mat-label>
          <input matInput formControlName="initialVal" placeholder="Enter a initial value" type="number">
          <mat-error *ngIf="calculatorForm.controls['initialVal'].hasError('required')">
            Initial value is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="custom-full-width">
          <mat-label>Annual interest rate</mat-label>
          <input matInput formControlName="interestRate" placeholder="Enter a interest rate" type="number">
          <span matSuffix>%</span>
          <mat-error *ngIf="calculatorForm.controls['interestRate'].hasError('pattern') && !calculatorForm.controls['interestRate'].hasError('required')">
            Annual interest rate must be below 100.
          </mat-error>
          <mat-error *ngIf="calculatorForm.controls['interestRate'].hasError('required')">
            Please enter a valid rate up to two decimals.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="custom-full-width">
          <span matPrefix>{{symbol}} &nbsp;</span>
          <mat-label>Regular monthly deposit value</mat-label>
          <input matInput formControlName="depositVal" placeholder="Enter a regular monthly deposit value" type="number">
          <mat-error *ngIf="calculatorForm.controls['depositVal'].hasError('required')">
            Monthly deposit is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="custom-full-width">
          <mat-label>Period</mat-label>
          <input matInput formControlName="period" placeholder="Enter a period in years" type="number">
          <span matSuffix>years</span>
          <mat-error *ngIf="calculatorForm.controls['period'].hasError('required')">
            Period is required.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="custom-full-width">
          <mat-label>Select compound interval</mat-label>
          <mat-select formControlName="interval">
            <mat-option *ngFor="let compound of compoundOptions" [value]="compound.value" type="number">{{compound.option}}</mat-option>
          </mat-select>
        </mat-form-field>

        <button mat-button mat-raised-button color="primary" type="submit" class="calcButton" [disabled]="!calculatorForm.valid" [attr.aria-label]="'This is a button to calculate compound interest'">Calculate</button>
      </form>
    </mat-card-content>
  </mat-card>

  <div class="resultCard" *ngIf="data">
    <app-compound-interest-chart [calcData]="data"></app-compound-interest-chart>
  </div>
</section>
