.custom-selected-value {
  margin: 15px 0;
}

.custom-full-width {
  width: 100%;
}

.cardHeader {
  border-bottom: #3873d8 1px solid;
  color: #3873d8;
  padding-top: 16px;
}

.topBorder {
  border-top: #3873d8 1px solid;
  padding-top: 16px;
}

.cardContent {
  padding: 16px;
}

.radioButtons {
  display: block;
  color: rgb(70, 70, 70);
  white-space: wrap;
  padding-bottom: 10px;
}

.radioLabel {
  display: block;
  font-size: 14px;
  color: #747474;
  margin-top: 22px;
}

.radioOptions {
  padding-right:10px;
}

.exchangeToggle {
  margin-bottom: 22px;
}

.container {
  display: block;
  width: 100%;
}

.resultCard, .calculator {
  padding: 0px !important;
  margin: 0px 16px;
}

.resultCard {
  margin-top: 16px;
}

@media only screen and (min-width: 768px) {

  .container {
    display: inline-flex;
  }

  .calculator, .resultCard {
    width: 50%;
    display: inline-block;
  }

  .resultCard {
    margin-top: 0px;
  }

  .calcButton {
    display: block;
  }
}