#graphCard {
  padding: 0px !important;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.pull-right {
  float: right;
}

.userGraphs {
  margin-top: 16px;
}

.savedGraphsHeader {
  border-top: #3873d8 2px solid;
  border-bottom: #3873d8 2px solid;
  color: #3873d8;
  font-size: 24px; 
  font-weight: 200;
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
}