<h1 class="savedGraphsHeader">Compound Interest Calculator</h1>
<app-calculator></app-calculator>

<section *ngIf="userData && userData.length > 0">
  <h1 class="savedGraphsHeader">Saved graphs</h1>

  <div *ngFor="let data of userData" class="userGraphs m-16">
    <app-compound-interest-chart [userData]='data'></app-compound-interest-chart>
  </div>
</section>