.deleteButton {
  color: rgb(247, 109, 79);
  margin-top: -13px;
}

.selectLabel {
  display: block;
  color: #747474;
  margin-bottom:10px;
}

.exchangeToggle {
  margin-bottom:20px;
}

.settingsButton {
  display: block;
}

.topBorder {
  border-top: #3873d8 1px solid;
  padding-top: 16px;
}

.graphCard {
  padding: 0px;
}

.chart {
  margin-top: 20px;
}

.rightResults {
  float: right;
}

.leftResults {
  float: left;
}

.resultsContent {
  min-height: 134px;
}

.cardContent {
  padding: 16px;
}

.smallDescription {
  font-size: 10px;
  display: block;
}

.mediumValue {
  font-size: 26px;
  color: #53d3d3;
}

.smallValue {
  font-size: 18px;
  color: #3873d8;
}

@media only screen and (min-width: 450px) {
  .settingsButton {
    float: right;
  }
}