<mat-card class="graphCard">
  <mat-card-header class="cardHeader">
    <mat-card-title>{{title}}</mat-card-title>
    <button mat-button class="deleteButton" (click)="deleteGraph(userData.id)">
      <mat-icon *ngIf="userData" aria-hidden="false" aria-label="Delete icon">delete_outline</mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content class="cardContent resultsContent p-16">
    <div class="leftResults">
      <mat-label class="smallDescription">Final investment value:</mat-label>
      <p class="mediumValue">{{futureVal | currency:currency}}</p>

      <mat-label class="smallDescription">Total interest earned:</mat-label>
      <p class="mediumValue">{{interestVal | currency:currency}}</p>
    </div>

    <div class="rightResults">
      <mat-label class="smallDescription">Initial investment:</mat-label>
      <p class="smallValue">{{presentVal | currency:currency}}</p>

      <mat-label class="smallDescription">Total deposits:</mat-label>
      <p class="smallValue">{{depositsVal | currency:currency}}</p>

      <mat-label class="smallDescription">Effective annual rate:</mat-label>
      <p class="smallValue">{{effectiveRate}}%</p>
    </div>
  </mat-card-content>

  <mat-card-content class="p-16 topBorder">
  <mat-label class="selectLabel">Select exchange rate currency:</mat-label>
  <mat-button-toggle-group #exchangeGroup="matButtonToggleGroup" value="{{currency}}"
    (change)="calculateExchangeRate($event.value)" class="exchangeToggle">
    <mat-button-toggle value="GBP" aria-label="Great Brittain Pound">
      <mat-label>£</mat-label>
    </mat-button-toggle>
    <mat-button-toggle value="USD" aria-label="United States Dollar">
      <mat-label>$</mat-label>
    </mat-button-toggle>
    <mat-button-toggle value="EUR" aria-label="Australian Dollar">
      <mat-label>€</mat-label>
    </mat-button-toggle>
    <mat-button-toggle value="JPY" aria-label="Japanese Yen">
      <mat-label>¥</mat-label>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <button *ngIf="calcData" mat-button mat-raised-button color="primary" type="button" class="settingsButton" (click)="openDialog()" [attr.aria-label]="'This is a button to save graph settings'">Save graph settings</button>

  <div echarts [options]="chartOption" class="chart"></div>
  </mat-card-content>

</mat-card>