/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; background-color: rgba(237, 239, 249, 0.913);}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom 
.noPadding {
  padding: 0px;
}
.p-16 {
  padding: 16px;
}

.m-16 {
  margin: 16px;;
}

.validatioMessages {
  color: rgb(249, 125, 97);
  font-size: 10px;
  margin-top: -20px;
}

.cardHeader {
  border-bottom: #3873d8 1px solid;
  color: #3873d8;
  padding-top: 16px;
  display: inline-flex;
  justify-content: space-between;
}
